---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_SUB_TITLE } from "../config";
import PostTile from "../components/PostTile.astro";
import TagsFilter from "../components/TagsFilter.astro";
import { findTags, mapPosts } from "../utils/post.utils";
import { Icon } from "astro-icon";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob("./blog/*.{md,mdx}");
const mappedPosts = mapPosts(posts).slice(0, 3);

const currentTag = "general";
const tags = findTags(mappedPosts);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-black text-black dark:text-white">
		<Header title={SITE_TITLE} />
		<main>
			

			

			<div>

				<div class="flex flex-row mb-2">
					<a
					  class="bg-black dark:bg-white text-white  dark:text-black bg-red-500 dark:bg-red-500 mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl"
					  href="/">Home</a
					>
					<a
					  class="bg-black dark:bg-white  text-white  dark:text-black hover:bg-red-500 dark:hover:bg-red-500 mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl"
					  href="/blog">Blog</a
					>
					<a
					  class="bg-black dark:bg-white text-white dark:text-black hover:bg-red-500 dark:hover:bg-red-500 mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl"
					  href="/about">About</a
					>
					<a
					  class="bg-black dark:bg-white text-white dark:text-black hover:bg-red-500 dark:hover:bg-red-500 mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl"
					  href="/bounty">Bug Bounties</a
					>
				</div>
				
			</div>
			<h1  style="font-size: 2em;margin-top: 0.5em;margin-bottom: 0.5em;">
				Hello and welcome to my site. My name is Mike.
			</h1>
			<p>
				
				I'm currently a student at Howest, pursuing a bachelor's degree in applied computer science with a minor in cybersecurity. 
				I've always had a fascination with technology and IT-related subjects, but it wasn't until my first year of applied computer science that I discovered my passion for cybercrime and cybersecurity.
			</p>
			<br>
			<p>
				This site started as a project for school. I created it using Astro and Github Pages, 2 thing I never used before this project. I wanted you try something new that I hadn't used before. I will regularly update this site with the projects I have started and the events I have attended. 
				I Like learning new techniques, skills, and programming languages and I hope that someday I'll make an impact on the IT world. 
			</p>
			<br>
			<h2 style="font-size: 1.5em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;">
				Current projects I'm working on.
			</h2>
			<p>
				Here I will post all projects I started.
			</p>
		</main>
		<Footer />
	</body>
</html>
