---
import { Icon } from "astro-icon";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="mb-3 mt-4">
    <div class="flex flex-row">
      <div class="basis-3/4 text-left">
        
        <div>
          &copy; {currentYear} Mike Bauwens. All rights reserved.
        </div>
      </div>
      <div class="basis-1/4 justify-end flex flex-row">
        <a
          href="https://www.linkedin.com/in/mike-bauwens-21631a232/"
          class="ml-4 hover:text-red-500 dark:text-white dark:hover:text-red-500"
          aria-label="LinkedIn"
          rel="noopener"
        >
          <Icon name="fa-brands:linkedin" />
        </a>
        <a
          href="https://github.com/MikeBauwns"
          class="ml-4 hover:text-red-500 dark:text-white dark:hover:text-red-500"
          aria-label="Github"
          rel="noopener"
        >
          <Icon name="fa-brands:github" />
        </a>
      </div>
    </div>
  </div>
</footer>
<style>
  [astro-icon] {
    height: 24px;
  }
</style>
